{% extends 'base.html.twig' %}


{% block stylesheets %}
    {% stylesheets 'styles/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to shortener</h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../scripts/sripts.js"></script>
{% endblock %}
